<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="messages">
      <% messages.forEach(message => { %>
      <div class="message">
        <%= message.username %> (<%= message.added %>):
        <p><%= message.message_text %></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
